*{
    padding: 0;
    margin: 0;
    /* 清除点击高亮效果手机可以看到 */
    -webkit-tap-highlight-color: transparent;
    /* 以border开始计算宽度 */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-size: 14px;
    font-family: 'Microsoft YaHei' sans-serif;
}

ul {
    list-style: none;
}
input,textarea {
    border: none;
    resize:none;
    outline: none;
    -webkit-appearance: none;
}
/* 清除浮动 */
.clearfix::after,.clearfix::before {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}